@import "tailwindcss";

:root {
  /* Paleta de colores */
  --accent-primary: #16E884;
  --background-main: #1C1C1C;
  --surface-dark: #10594F;
  --accent-muted: #3A4F41;
  --background-contrast: #2e2c2c;

  /* Colores para el texto */
  --text-primary: #EDEDED; /* Usando el color claro de tu configuración original para el texto principal */
  --text-secondary: #A0A0A0; /* Un gris más claro para el texto secundario para mejor legibilidad */

  /* Mapeo a las variables que Tailwind y el layout esperan */
  --background: var(--background-main);
  --foreground: var(--text-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
